.widget {
	p.sort {
		margin: 0;
		cursor: pointer;

		a:hover {
		  color: hotpink;
		}

		&.active {
		  a {
		    color: hotpink;
		  }  
		}
	}
	display: block;
	position: fixed;
	margin-left: 0;
	font-weight: 800;
	width: 130px;
}