.widget {

	p.sort {
		a:hover {
		  color: hotpink;
		}

		a:active {
		  color: blue;
		}

		&.active {
		  a {
		    color: hotpink;
		  }  
		}
	}
	display: block;
	position: fixed;
	margin-top: 8%;
	margin-left: 0;
}