.cart {
  .buy {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 20px;
    height: 250px;
    
    .promotion-info {
      text-align: center;    
    }

    .discount-code {
      width: 210px;
      height: 30px;
      margin-top: 10px;
      margin-left: 10px;
      text-align: center;
    }

    .total {
      white-space: nowrap;
      text-align: center;
    }

    p {
      line-height: 20px;
      font-weight: bold;
    }

    s {
      font-weight: normal;
    }

    button {
      color: #fff;
      background: #16a085;
      font-size: 22px;
      border-radius: 25%;    
      margin-left: 10px;
      width: 210px;
      height: 40px;
      float: right;
      white-space: nowrap;
    }
  }

  .relat {
    position: relative;
  }

  .extra {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    color: hotpink;
    height: 30px;
    width: 100px;
    padding: 5px auto;
  } 
}