@import '../../../styles/settings.scss';

.product-summary {
    border-bottom: 1px solid $color-textfield-border;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 30px;
    transition: .2s;
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    display: inline-block;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: left;
    height: 540px;
    background: rgba(255,255,255,0.3);

    img {
        height: 500px;
    }

    .delete-button {
        color: hotpink;
        margin: 15px auto;
    }

    a {
        display:flex;
        height: 100%;
    }

    .first {
        flex: 2;
        display: inline-block;
    }

    .second {
        flex: 1;
        display: inline-block;
        height: 100%;
    }

    .html-box {
        max-height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    &.bought {
        filter: brightness(50%);
    }
}

.relat {
    position: relative;
}

.extra {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    color: hotpink;
    height: 30px;
    width: 100px;
    padding: 5px auto;
}

