@import '../../../styles/settings.scss';

.product-summary {
    border-bottom: 1px solid $color-textfield-border;
    padding: $base-size;
    margin-top: 9%;
    margin-left: 16%;
    margin-right: 2%;
    margin-bottom: $base-size;
    
    transition: .2s;
    cursor: pointer;
    width: 30%;
    display: inline-block;

    .delete-button {
        color: hotpink;
        margin: 15px auto;
    }

    &:hover {
        border-radius: $radius;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }
}