@import './settings.scss';
@import './normalize.scss';
@import './typography.scss';


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text-light;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../resources/images/background.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: $font-text;
  font-size: ($base-size * 1.3);
  line-height: 1.7;
  letter-spacing: 0.5px;
  overflow-y: scroll;
}

a, a:hover, a:visited {
  text-decoration: none;
}

