@import '../../../styles/settings.scss';

.product-in-cart {
    border-bottom: 1px solid $color-textfield-border;
    padding: 20px;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    transition: .2s;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: left;
    background: rgba(255,255,255,0.3);

    img {
        height: 200px;
        padding-right: 20px;
    }

    a {
        display: flex;
    }

    .first {
        flex: 1;
        display: inline-block;
    }

    .second {
        flex: 10;
        display: inline-block;
    }

    .html-box {
        max-height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }

    .price {
        margin-bottom: 0;
    }

    .quantity, .delete-button {
        margin-top: 0;
        margin-bottom: 0;
    }

    button {
        color: #fff;
        background: #16a085;
        font-size:22px;
        border-radius: 25%;    
    }

    button.delete-button {
        margin-left: 10px;
        width: 210px;
        height: 40px;
        float:right;
    }

    .author, .price, .quantity {
        font-weight: bold;
    }

    button.add-button, button.remove-button {
        margin-left: 10px;
        margin-right: 10px;
    }
    .quantity {
        margin-left: 160px;
    }
}
